*.class

# Package Files #
*.jar
*.war

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

*/classes/
*/bin/

.DS_Store

war/WEB-INF/appengine-generated/datastore-indexes-auto.xml

war/WEB-INF/appengine-generated/datastore-indexes-auto.xml

war/WEB-INF/appengine-generated/local_db.bin

war/WEB-INF/appengine-generated/F4A5CXv7QUSekPVX4ItVYQ

war/WEB-INF/appengine-generated/y7nPuPOGZViv24tw2cf8EA

war/WEB-INF/appengine-generated/rYSRvxmz7VTyJnerkMytwA

war/WEB-INF/appengine-generated/ZPmWTs6bLalxd76lfcH2eQ

war/WEB-INF/appengine-generated/Wc30nwb9Flq8PdNSPYI7ag

war/WEB-INF/appengine-generated/MZf6NXWYI9ed1qJwxcXApQ

war/WEB-INF/appengine-generated/local_db.bin
